<div class="main">
  <div class="image">
   <img src="http://images2.layoutsparks.com/1/210989/beach-paradise-deault-trees.jpg"></img> 
      <h1>Tropical Paradise</h1>
      <div class="sun"></div>
      <div class="coconut"></div>
      <div class="coconut two"></div>
      <img class="starfish" src="assets/starfish.png"></img>
      <img class="crab" src="assets/crab.png"></img>
  </div>
</div>