@mixin rounded-corners($radius) {
   border-radius: $radius;
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
}

html {
  background: url("http://images2.layoutsparks.com/1/210989/beach-paradise-deault-trees.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body, .image {
    margin-top:0;
    height:100%;
    width: 960px;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:0;
}

h1{
  color:rgb(241, 131, 29);
  font-family: 'Pirata One', cursive;  
  font-weight:100;
  font-size:2.6em;
  position:absolute;
  top:0;
  left:0;
  z-index:3;
}

.image {
  position:relative;
  width:960px;
}

img{
  display:block;
  height:100%;
  margin-left:auto;
  margin-right:auto;
  width:100%;
  vertical-align:middle;
  text-align:center;
}

.main {
  margin: 0 auto;
}

.sun{
  background: #fdfabf; /* Old browsers */
  background: -moz-linear-gradient(top, #fdfabf 0%, #f5e617 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fdfabf), color-stop(100%,#f5e617)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #fdfabf 0%,#f5e617 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #fdfabf 0%,#f5e617 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #fdfabf 0%,#f5e617 100%); /* IE10+ */
  background: linear-gradient(to bottom, #fdfabf 0%,#f5e617 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdfabf', endColorstr='#f5e617',GradientType=0 ); /* IE6-9 */
  @include rounded-corners(50px);
  clear:both;
  width: 80px;
  height: 80px;
  margin-top: 100px;
  margin-left: 70px;
  position: absolute;
  top:0;
  left:0;
}

.coconut {
  background: rgb(240,183,161); /* Old browsers */
  background: -moz-radial-gradient(center, ellipse cover,  rgba(240,183,161,1) 0%, rgba(140,51,16,1) 58%, rgba(117,34,1,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(240,183,161,1)), color-stop(58%,rgba(140,51,16,1)), color-stop(100%,rgba(117,34,1,1))); /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(center, ellipse cover,  rgba(240,183,161,1) 0%,rgba(140,51,16,1) 58%,rgba(117,34,1,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(center, ellipse cover,  rgba(240,183,161,1) 0%,rgba(140,51,16,1) 58%,rgba(117,34,1,1) 100%); /* Opera 12+ */
  background: -ms-radial-gradient(center, ellipse cover,  rgba(240,183,161,1) 0%,rgba(140,51,16,1) 58%,rgba(117,34,1,1) 100%); /* IE10+ */
  background: radial-gradient(ellipse at center,  rgba(240,183,161,1) 0%,rgba(140,51,16,1) 58%,rgba(117,34,1,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0b7a1', endColorstr='#752201',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  top:0;
  height:40px;
  margin-right:320px;
  margin-top:80px;
  position:absolute;
  right:0;
  width:40px;
  @include rounded-corners(20px);
}

.two {
  margin-right:380px;
  margin-top:50px;
}


.starfish {
  clear: both;
  height:80px;
  position:absolute;
  margin-right:60px;
  margin-bottom:100px;
  bottom:0;
  right:0;
  width:80px;
}

.crab {
  height:100px;
  position:absolute;
  right:0;
  bottom:0;
  top:600px;
  width:100px;
}

.boat {
  height:200px;
  position:absolute;
  top:0;
  margin-top:400px;
  margin-left:200px;
  width:200px;
}
